<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <center>
    <h1>{{title}}</h1>
    <form method="POST">
      {% csrf_token %}
      <input type="email" name="email" id="" placeholder="Email">
      <input type="password" name="password" id="" placeholder="Password">
      <button type="submit">Login</button>
    </form><br>
    <label for="register">Don't Have An Account?</label>
    <button id="register"><a href="{% url 'register_url' %}">Register</a></button>
  </center>
</body>
</html>